@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap');


* {
    margin: 0px;
    padding: 0px;
}


h1{
    margin-top: 8%;
    margin-left: 5%;
    color: #32325d;
}

.logo{
    margin-top: 6px;
    margin-left: 79px;
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

.nav-itens {
    width: 100%;
    height: 59px;
    background-color: #32325d;
    display: flex;
    list-style: none;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 24px;
}

.nav-itens>li{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 22px;
}

.card {
    border-radius: 8px;
    border-color: #575757;
    margin: 20px;
    width: 409px;
    height: 452px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;

}

.card h2{
    font-size: 25px;
}

.row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-left: 0%;
}


.row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-left: 0%;
}

.image{
    background: url(./images/post.png) , lightgray 50% / cover no-repeat;
    width: 409px;
    height: 265.2px;
    flex-shrink: 0;
}

.description{
    padding: 20px;
    padding-top: 1px;
    color: #575757;
    letter-spacing: 1px;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
}

.title{
    padding: 20px;
    color: #32325d;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
}

nav {
    border: 1px solid #000;
    background: var(--primary, #32325D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.space{
    margin-left: 79px;
    letter-spacing: 5px;
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3.6px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a {
    text-decoration: none;
}

head{
    color: var(--white, #FFF);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;   
}

.button {
    margin-left: 320px;
    display: flex;
    width: 70px;
    height: 19.429px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--title, #3A4F9A);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.3px;
}

.head{
    margin-top: 10px;
    margin-left: 5px;
}

.line {
    margin-top: 26px;
    width: 214px;
    height: 0px;
    margin-left: 79px;
    stroke-width: 3px;
    stroke: var(--title, #3A4F9A);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cardDetails {
    display: block;
    margin-top: 79px;
    margin-left: auto;
    margin-right: auto;
    width: 771px;
    height: 519px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.imageDetails {
    background: url(./images/details.png);
    width: 771px;
    height: 311.4px;
    flex-shrink: 0;
}

.comments{
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    width: 762px;
    height: 321px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.titleDetails{
    width: 229.98px;
    height: 22.813px;
    flex-shrink: 0;
    color: var(--title, #3A4F9A);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    margin-left: 54px;
    margin-top: 22px;
}

.descriptionDetails{
    width: 676.746px;
    height: 124.332px;
    flex-shrink: 0;
    color: var(--gray, #575757);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
    letter-spacing: 1.3px;
    margin-left: 54px;
    margin-top: 17px;
}

.back{
    margin-top: 23px;
    margin-left: 34px;
    fill: var(--primary, #32325D);
    stroke-width: 0.3px;
    stroke: rgba(255, 255, 255, 0.60);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: absolute;
}

.arrow{
    position: relative;
    margin-left: 50px;
    margin-top: 36px;
    width: 49px;
    height: 49px;
    flex-shrink: 0; 
}

.separatorline{
    margin-left: 54px;
    margin-top: 14px;
}

.users{

    margin-left: 54px;
    margin-right: 54px;
    color: var(--title, #3A4F9A);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: 1.6px;
}

.span{
    color: var(--gray, #575757);
    font-family: Inter;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 1.6px;
}